/.github/
/assets/
node_modules/
/packages/
/src/
/tests/
.gitignore
.npmignore
.prettierignore
eslint.config.js
prettier.config.js
prod.tsconfig.json
tsconfig.json
pnpm-lock.yaml
*.tgz
*.txt
*.env
*.rar
*.zip